
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
      max-width: 800px;
      margin: auto;
      background-color: #faf2e0; /* main background colour */
      color: #333;
    }

    h1 {
      font-family: 'Lobster', cursive;
      font-size: 48px;
      text-align: center;
      color: #ea4d25;
      margin-bottom: 20px;
    }

    h1, h2 {
      text-align: center; /* alignment to centre */
    }

    #countryName {
    width: 300px; /* longer text box */
    }

    input{
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      border-radius: 4px 4px 4px 4px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: none; /* Removes the border entirely */
    }

    button {
      padding: 10px;
      font-size: 16px;
      margin-right: 10px;
      border-radius: 4px 4px 4px 4px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #e4d017; /* main background colour */
      border: none; /* Removes the border entirely */
    }

    #imageContainer {
      display: flex;
      flex-wrap: wrap; /* make my web display looks cleaner*/
      justify-content: center; 
      gap: 10px;
      margin: 20px 0;
    }

    #imageContainer img {
      width: 200px;
      margin: 10px;
      border-radius: 8px;
    }

    #holidayApp {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center all result boxes */
    }

    #holidayApp div {
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      background-color: #fff3e0;
      text-align: center; /* align my results */
      width: 60%; /* Make result boxes smaller */

    }

    .long-weekend {
  background-color: #ff9800; /* Bright orange */
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  
  }